
.projectseparator {
    background-image: linear-gradient(
      to right top,
      #b8e736,
      #5c52e9,
      #0c8566,
      #914aeb,
      #a745ea,
      #7d68fb,
      #4d7fff,
      #0091ff,
      #00acfd,
      #00bdd9,
      #3e1fac,
      #6bcc70
    );
    height: 2px;
    width: 100%;
    border-radius: 3px;
    margin: 10px 0px;
  }
  